@media (max-width: 1024px) {

    .container {
        padding: 0 2rem;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .container-name {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 15%;
    }

    .logo-inicio img {
        width: 90%;
        max-width: 250px;
        max-height: 350px;
    }

    .conteudo-inicio {
        top: 20%;
    }

    .cta {
        top: 20svh;
    }

    .conteudo-inicio a {
        text-decoration: none;
        font-size: 90px;
        line-height: 10px;
    }

    #nome-dinamico {
        transition: font-family 0.5s ease-in-out;
        font-size: 90px;
        max-width: 450px;
        max-height: 550px;
        font-weight: 700;
    }

    .texts-about h1 {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: nowrap;
        width: 50vh;
    }

    .download-about a {
        font-size: 1.5rem;
        flex-wrap: nowrap;
        width: 50vh;
    }

    .imagem-sobre {
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: -80vh;
        margin-left: 25vh;
    }

    .imagem-sobre img {
        height: 30vh;
        width: 50vh;
        object-fit: cover;
    }

    .socials {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-left: 20%;
    }

    .socials-icon i {
        font-size: 3em;
    }

    .socials-icon img {
        width: 65px;
        height: 55px;
        align-items: center;
    }

    .socials-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .button-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        width: 100%;
    }

    .tooltiptext {
        display: none;
    }

    .sobre,
    .container-sobre,
    .headline-sobre,
    .conteudo-sobre,
    .left-sobre,
    .right-sobre {
        height: auto;
        margin-top: 20%;
        margin-right: 10%;
    }

    .conteudo-sobre {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .headline-servicos {
        flex-direction: column;
        height: auto;
    }

    .titulo-servicos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .titulo-servicos h1 {
        font-size: 6rem;
    }

    .descricao-servicos {
        width: 100%;
        text-align: right;
        font-size: 1.4rem;
    }

    .box-skills {
        height: 700px;
        width: 320px;
    }

    .icon-language {
        margin-top: -40%;
    }

    .skills-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-certificates {
        display: grid;
        width: 40vh;
        height: 100%;
        padding: 1px;
        grid-template-columns: repeat(2, 1fr);
        margin-left: -6vh;
        gap: 1rem;
    }

    .certificates {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-portfolio {
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .headline-portfolio {
        flex-direction: column;
        height: auto;
    }

    .headline-portfolio .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 3rem;
        letter-spacing: 1.5px;
    }

    .headline-portfolio .description {
        width: 100%;
        font-size: 1rem;
        text-align: right;
        font-family: var(--font-pequena);
        letter-spacing: 1.5px;
    }

    .portfolio {
        padding-bottom: 100px;
        position: relative;
    }

    .gridPortfolio {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 30px;
        margin: auto;
    }

    .container-case {
        gap: 2rem;
    }

    .case1,
    .case3 {
        flex-direction: column;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }

    .case2,
    .case4 {
        flex-direction: column-reverse;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }

    .imagens-case {
        width: 100%;
        height: 60vh;
    }

    .textos-case {
        width: 100%;
        height: 35vh;
    }

    .contato {
        padding: 0rem 1rem 2rem 1rem;
        height: auto;
    }

    .container-contato {
        width: 100%;
        height: auto;
    }

    .headline-contato {
        flex-direction: column;
        height: auto;
    }

    .titulo-contato {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .titulo-contato h1 {
        font-size: 6rem;
    }

    .descricao-contato {
        width: 100%;
        text-align: right;
        font-size: 1.4rem;
    }

    .descricao-contato a {
        text-decoration: none;
        color: var(--color-black);
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        line-height: 1.4;
        font-weight: bold;
    }

    .conteudo-contato {
        padding-top: 2rem;
        flex-direction: column-reverse;
    }

    .logo-contato {
        width: 50%;
        justify-content: center;
        margin-top: -15%;
        margin-bottom: -10%;
    }

    .logo-contato img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }

    .formulario-contato {
        width: 100%;
    }

    .credits-column {
        width: auto;
        text-align: right;
        margin-top: 0;
    }
}

@media (max-width: 900px) {
    .conteudo-skills {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .conteudo-skills {
        grid-template-columns: repeat(2, 1fr);
    }

    #imagem {
        width: 100px;
    }
}