@media (max-width: 1024px) {
    /* Ajustes gerais */
    body {
        font-size: 14px; /* Reduzir o tamanho da fonte para melhor legibilidade */
    }

    .header {
        padding: 0.5rem 1rem; /* Reduzir o padding do header */
    }

    .logo img {
        width: 70px; /* Reduzir o tamanho do logo */
    }

    .menu {
        flex-direction: column; /* Mudar a direção do menu para coluna */
        align-items: flex-start; /* Alinhar itens à esquerda */
    }

    .nav-menu a {
        font-size: 2rem; /* Reduzir o tamanho da fonte dos links do menu */
    }

    .inicio .name-inicio {
        font-size: 100px; /* Reduzir o tamanho da fonte */
    }

    .destaque-inicio {
        font-size: 100px; /* Reduzir o tamanho da fonte */
    }

    .cta {
        padding: 0.4em 1em; /* Ajustar o padding do botão CTA */
    }

    .sobre .container-sobre {
        flex-direction: column; /* Mudar a direção para coluna */
        align-items: center; /* Centralizar os itens */
    }

    .skills .container-skills {
        flex-direction: column; /* Mudar a direção para coluna */
    }

    .certificates .grid-certificates {
        grid-template-columns: repeat(2, 1fr); /* Mudar para 2 colunas */
    }

    .portfolio .gridPortfolio {
        grid-template-columns: repeat(1, 1fr); /* Mudar para 1 coluna */
    }

    .footer {
        flex-direction: column; /* Mudar a direção do footer para coluna */
        align-items: center; /* Centralizar os itens */
    }

    .footer-column {
        flex-direction: column; /* Mudar a direção das colunas do footer para coluna */
        align-items: center; /* Centralizar os itens */
    }

    .contact {
        flex-direction: column; /* Mudar a direção do contato para coluna */
        align-items: center; /* Centralizar os itens */
    }

    .contact-item {
        margin-bottom: 20px; /* Adicionar espaço entre os itens de contato */
    }
}

@media (min-width: 900px) {
    .conteudo-skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 600px) {
    .conteudo-skills {
        grid-template-columns: repeat(2, 1fr);
    }

    #imagem {
        width: 100px;
    }
}

@media (max-width: 470px) {

    #imagem {
        width: 40%;
    }

    .logo-inicio {
        width: 100%;
        height: auto;
    }

    .logo-inicio img {
        content: url('../../assets/img/logo.png');
        transform: translateX(150%) translateY(-290%) scale(3);
    }

    .surname-inicio {
        margin-right: 5%;
    }

    .container {
        padding: 0 1rem;
    }

    .sobre {
        height: auto;
        margin-top: 70%;
    }

    .container-sobre {
        height: auto;
        margin-top: 20%;
    }

    .headline-sobre {
        height: auto;
        position: relative;
    }

    .conteudo-sobre {
        flex-direction: column-reverse;
        height: auto;
        gap: 1.5rem;

    }

    .left-sobre,
    .right-sobre {
        width: 100%;
        height: auto;
    }

    .right-sobre {
        margin-bottom: 5%;
        margin-top: 3%;
    }

    .imagem-sobre {
        margin-top: 30%;
        justify-content: center;
        width: 60%;
        height: auto;
        margin-bottom: 55%;
    }

    .titulo-contato {
        display: none;
        ;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 30px;
    }


    .container-portfolio {
        gap: 1rem;
        padding: 1rem;
    }

    .headline-portfolio {
        flex-direction: column;
        height: auto;
    }

    .headline-portfolio .titulo {
        width: 100%;
        font-size: 3rem;
    }

    .headline-portfolio .descricao {
        width: 100%;
        text-align: left;
        font-size: 1rem;
    }

    .container-case {
        gap: 1rem;
    }

    .case1,
    .case3 {
        flex-direction: column;
        gap: 1rem;
        height: auto;
        justify-content: center;
        margin-bottom: 5%;
    }

    .case2,
    .case4 {
        flex-direction: column-reverse;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }

    .imagens-case {
        width: 100%;
        height: 40vh;
        margin-bottom: 3%;
    }

    .textos-case {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 300px) {

    #imagem {
        width: 30%;
    }

    .logo-inicio {
        width: 100%;
        height: auto;
    }

    .logo-inicio img {
        content: url('../../assets/img/logo-small.png');
        transform: translateX(120%) translateY(-250%) scale(2.5);
    }

    .surname-inicio {
        width: 100%;
        height: 10%;
    }

    .container {
        padding: 0 0.5rem;
    }

    .sobre {
        margin-top: 50%;
    }

    .container-sobre {
        margin-top: 15%;
    }

    .conteudo-sobre {
        gap: 1rem;
    }

    .imagem-sobre {
        margin-top: 20%;
        width: 70%;
        margin-bottom: 40%;
    }

    .container-portfolio {
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .headline-portfolio .titulo {
        font-size: 2rem;
    }

    .headline-portfolio .descricao {
        font-size: 0.9rem;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 30px;
    }

    .case1,
    .case3,
    .case2,
    .case4 {
        gap: 0.5rem;
        margin-bottom: 3%;
    }

    .imagens-case {
        height: 30vh;

    }

    .textos-case {
        font-size: 0.9rem;

    }
}