@media (max-width: 1024px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }

    .header {
        padding: 0.8rem 1rem;
    }

    .logo {
        left: 0px;
    }

    .logo img {
        width: 80px;
    }

    .nav-menu a {
        font-size: 2rem;
    }

    .conteudo-inicio {
        top: 30%;
    }

    .name-inicio,
    .surname-inicio {
        font-size: 50px;
    }

    .destaque-inicio {
        font-size: 20px;
    }

    .cta-container {
        margin-top: 20%;
    }

    .sobre {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .conteudo-sobre {
        flex-direction: column;
        align-items: center;
    }

    .left-sobre,
    .right-sobre {
        width: 100%;
        text-align: center;
    }

    .data-about {
        flex-direction: column;
    }

    .imagem-sobre img {
        max-width: 250px;
        max-height: 350px;
    }

    .certficates,
    .skills {
        padding: 0.5rem;
    }

    .certficates-container,
    .container-skills {
        margin-top: 5%;
    }

    .certficates-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-certificates {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px;
    }

    .projectCertificates img {
        width: 90%;
    }

    .modalCertificate-content {
        width: 80%;
        max-width: 500px;
    }

    .skills-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .box-skills {
        width: 90%;
        height: auto;
        padding: 1rem;
    }

.content-skills{
    margin-left: 30px;
}

    .skill,
    .icon-language {
        width: 80px;
        height: 80px;
    }

    .skill i,
    .icon-language img {
        font-size: 30px;
        width: 50px;
        height: 50px;
    }

    .servicos,
    .free-your-mind,
    .portfolio,
    .contato {
        padding: 1.5rem;
    }

    .free-your-mind span {
        margin-left: 10px;
        margin-right: 10px;
    }

    .container-servicos,
    .container-free-your-mind,
    .container-contato {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .titulo-servicos,
    .descricao-servicos,
    .headline-portfolio .title,
    .headline-portfolio .description {
        width: 100%;
        text-align: center;
    }

    .titulo-servicos h1,
    .headline-portfolio .title {
        font-size: 15vw;
    }

    .descricao-servicos p{
        display: none;
    }
    .headline-portfolio .description {
        font-size: 1.1rem;
    }

    .servicos-cards {
        gap: 1rem;
    }

    .card-servicos,
    .card-servicos-left {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
        border-radius: 20px;
    }

    .card-icon {
        width: 80px;
        height: 40px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-servicos-left {
        margin-bottom: 5%;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 30px;
    }

    .footer {
        padding: 2rem 1rem;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


@media (min-width: 900px) {
    .conteudo-skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 600px) {
    .conteudo-skills {
        grid-template-columns: repeat(2, 1fr);
    }

    #imagem {
        width: 100px;
    }
}

@media (max-width: 470px) {

    #imagem {
        width: 40%;
    }

    .logo-inicio {
        width: 100%;
        height: auto;
    }

    .logo-inicio img {
        content: url('../../assets/img/logo.png');
        transform: translateX(150%) translateY(-290%) scale(3);
    }

    .surname-inicio {
        margin-right: 5%;
    }

    .container {
        padding: 0 1rem;
    }

    .sobre {
        height: auto;
        margin-top: 70%;
    }

    .container-sobre {
        height: auto;
        margin-top: 20%;
    }

    .headline-sobre {
        height: auto;
        position: relative;
    }

    .conteudo-sobre {
        flex-direction: column-reverse;
        height: auto;
        gap: 1.5rem;

    }

    .left-sobre,
    .right-sobre {
        width: 100%;
        height: auto;
    }

    .right-sobre {
        margin-bottom: 5%;
        margin-top: 3%;
    }

    .imagem-sobre {
        margin-top: 30%;
        justify-content: center;
        width: 60%;
        height: auto;
        margin-bottom: 55%;
    }

    .titulo-contato {
        display: none;;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 30px;
    }


    .container-portfolio {
        gap: 1rem;
        padding: 1rem;
    }

    .headline-portfolio {
        flex-direction: column;
        height: auto;
    }

    .headline-portfolio .titulo {
        width: 100%;
        font-size: 3rem;
    }

    .headline-portfolio .descricao {
        width: 100%;
        text-align: left;
        font-size: 1rem;
    }

    .container-case {
        gap: 1rem;
    }

    .case1,
    .case3 {
        flex-direction: column;
        gap: 1rem;
        height: auto;
        justify-content: center;
        margin-bottom: 5%;
    }

    .case2,
    .case4 {
        flex-direction: column-reverse;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }

    .imagens-case {
        width: 100%;
        height: 40vh;
        margin-bottom: 3%;
    }

    .textos-case {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 300px) {

    #imagem {
        width: 30%;
    }

    .logo-inicio {
        width: 100%;
        height: auto;
    }

    .logo-inicio img {
        content: url('../../assets/img/logo-small.png');
        transform: translateX(120%) translateY(-250%) scale(2.5);
    }

    .surname-inicio {
        width: 100%;
        height: 10%;
    }

    .container {
        padding: 0 0.5rem;
    }

    .sobre {
        margin-top: 50%;
    }

    .container-sobre {
        margin-top: 15%;
    }

    .conteudo-sobre {
        gap: 1rem;
    }

    .imagem-sobre {
        margin-top: 20%;
        width: 70%;
        margin-bottom: 40%;
    }

    .container-portfolio {
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .headline-portfolio .titulo {
        font-size: 2rem;
    }

    .headline-portfolio .descricao {
        font-size: 0.9rem;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 30px;
    }

    .case1,
    .case3,
    .case2,
    .case4 {
        gap: 0.5rem;
        margin-bottom: 3%;
    }

    .imagens-case {
        height: 30vh;

    }

    .textos-case {
        font-size: 0.9rem;

    }
}